.onoffswitch {
    margin: auto;
    position: relative; width: 140px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Brutto";
    padding-left: 12px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Netto";
    padding-right: 12px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: -3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 112px;
    border: 2px solid #999999; border-radius: 16px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.styled-select select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}


   /*start css basic by me*/

   body{
     background:rgb(230, 255, 247);
     font-family: 'Open Sans', sans-serif;
     font-size: 12px;
     width: 600px;
    height:  700px;
     margin: 0 auto;
     padding: 20px;

   }
   #container{
     text-align: center;
     margin: 0 auto;
     padding: 30px;
      margin-bottom: 40px;
      width: 100%;
      height: 450px;
   }

      input[type=number] {
       min-width: 30px;
       padding: 12px 20px;
       height: 40px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       -webkit-transition: width 0.4s ease-in-out;
       transition: width 0.4s ease-in-out;
     }

        input[type=number]:focus {
         width: 60%;
         padding: 12px 20px;
         height: 40px;
         margin: 8px 0;
         display: inline-block;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
       }



      input[type=submit] {
        display: block;
        margin: 0 auto;
        background-color: #34A7C1;
        color: #FFFFFF;;
      	-moz-border-radius:28px;
      	-webkit-border-radius:28px;
      	border-radius:28px;
      	border:1px solid #18ab29;
      	cursor:pointer;
      	color:#ffffff;
      	font-family:Arial;
      	font-size:17px;
      	padding:5px 17px;
      	text-decoration:none;
      	text-shadow:0px 1px 0px #2f6627;


      }
      input[type=submit]:hover {
      	background-color:#11bde4;
      }
      input[type=submit]:active {
      	position:relative;
      	top:1px;
      }

      .vatInput{
        margin: 0 auto;
        visibility: hidden;
      }
      .vatInputVisability{
        margin: 0 auto;
        visibility: visible;
      }

      /*#vatInput-visable{
        margin: 0 auto;
        visibility: hidden;;
      }*/

      #cost-calculate{
             margin: 0 auto;
        text-align: center;
        padding: 6px;
        margin-bottom: 15px;
        border-radius: 15px;

      }
      #cost-calculate h2{
          font-family: 'Ubuntu', sans-serif;
          font-size: 20px;
          opacity: 0.6;
      }
      #count-money{
        margin-left: 20%;
        padding: 10px;
        height: 250px;
        width: 600px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
      }
